@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.nav__logo,
nav a,
nav button {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px 4%;
    overflow: hidden;
}

.nav__logo {
    cursor: default;
    margin-right: auto;
    font-size: 32px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 8px 32px;
}

nav a {
    color: #000000;
    text-decoration: none;
    transition: all 0.25s ease 0s;
}

nav li a:hover {
    /* color: rgb(255, 255, 255); */
    padding: 8px 32px;
    border-radius: 27px;
    background-color: #e0e0e0;
    box-shadow: 7px 7px 14px #bcbcbc, -7px -7px 14px #ffffff;
    transition: all 0.25s ease 0s;
}


nav button {
    text-decoration: none;
    padding: 8px 10px;
    background-color: rgba(8, 204, 139, 1);
    border: none;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}

nav button:hover {
    background-color: rgba(8, 204, 139, 0.8);
}


/* still testing this */
/*@media (prefers-color-scheme:dark) {
    * {
        background-color: #13192f;
    }

    header {
        background-color: #000000;
    }
}*/
