@import url('https://fonts.googleapis.com/css2?family=Lora&family=Lato&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    background-color: #fdfdf6;
}

body {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1;
    grid-template-areas: "header""mobile__nav""main""footer";
}


/* Header */
header {
    grid-area: header;
}

nav,
nav ul,
nav li,
nav a,
.nav__logo,
footer,
footer p,
#nav__content,
#nav__content ul,
#nav__content li,
#nav__content a {
    background-color: #edf1e5;
}

.desktop__nav nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px 4%;
    overflow: hidden;
}

.desktop__nav li {
    display: inline-block;
}

.nav__logo {
    font-family: 'Lora', serif;
    font-style: italic;
    cursor: default;
    margin-right: auto;
    font-size: 32px;
}

nav ul {
    list-style: none;
}

.mobile__nav {
    display: none;
}

.mobile__nav nav {
    padding: 24px 4%;
    display: flex;
    overflow: hidden;
}

.mobile__nav .nav__button {
    padding-top: 10px;
}

#nav__content {
    display: none;
    margin: -16px;
}

#nav__content ul {
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    display: block;
    padding: 0;
}

#nav__content li {
    text-align: center;
}

#nav__content a {
    padding: 8px 0;
    display: block;
}

nav a,
#nav__content a {
    padding: 8px 24px;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

nav li a:hover {
    background-color: #d7e7cc;
    border-radius: 27px;
    transition: all 0.5s ease 0s;
}

.nav__button i:active{
    background-color: #d7e7cc;
}

.main__body {
    display: flex;
    flex-direction: column;
    padding: 0 4%;
}

.main__body h1{
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}

.main__body h2{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 24px;
}

.description__body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

/*footer section*/
footer {
    grid-area: footer;
    padding: 24px 4%;
}

footer p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}


/*dark mode section*/
@media (prefers-color-scheme:dark) {

    html,
    body {
        background-color: #131512;
    }

    nav,
    nav ul,
    nav li,
    nav a,
    .nav__logo,
    footer,
    footer p,
    #nav__content,
    #nav__content ul,
    #nav__content li,
    #nav__content a {
        background-color: #282a27;
        color: #FFFFFF
    }

    nav li a:hover {
        background-color: #3c4b38;
        color: #e2e3dd;
    }

    .main__body {
        color: #FFFFFF;
    }
}


/*mobile adaptive section*/
@media screen and (max-width: 768px) {
    .desktop__nav {
        display: none;
    }

    .mobile__nav {
        display: initial;
    }

    html {
        min-width: 360;
    }
}
