@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font: "PT Serif", Arial, Helvetica, sans-serif;

    --bg-main: #40473F;
    --bg-extra: #080C09;

    --text-main: #F3F7F4AA;
    --text-extra: #080C09;

    --link-accent-inactive: #080c099f;
    --link-accent-active: #DBE2DA;
}

/* BODY PROPERTIES */

body {
    font-family: var(--font);
    color: var(--text-extra);
    /* background-color: var(--bg-light); */
    background: linear-gradient(90deg, rgba(64, 71, 63, 1) 0%, rgba(64, 71, 63, 1) 50%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%), url('./img/hero.png') bottom right no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

/* HERO SECTION */

.hero {
    display: flex;
    justify-content: center;
    height: 100vh;
    color: var(--text-main);
    margin-right: 50vw;
}

.hero-text {
    font-size: 1.6rem;
    font-weight: 300;
    text-shadow: var(--text-extra) 0px 0px 40px;
    line-height: 1.5rem;
    margin-top: 30vh;
}

.hero-text h2 {
    font-weight: 700;
}

.hero-links {
    display: grid;
    /* margin-top: 30vh; */
    grid-template-rows: auto auto auto;
    align-items: center;
    align-content: center;
    margin-bottom: 20vh;
    margin-left: 7vh;
}

.hero-image {
    background-size: cover;
    width: 60%;
    height: 100%;
    background-position: bottom;
    box-shadow: -10px 0px 10px 10px #aaaaaa;
}

.link {
    text-align: center;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background: var(--link-accent-inactive);
    color: var(--text-main);
    text-decoration: none;
    border-radius: 6px;
    transition: all 125ms ease-in-out;
    width: 140px;
}

.link:hover {
    background: var(--link-accent-active);
    color: var(--text-extra);
    box-shadow: var(--link-accent-active) 0px 0px 40px;
    ;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--bg-extra);
    color: var(--text-main);
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    body {
        background: url('./img/hero.png') bottom center;
        background-size: cover;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100vh;
    }


    .hero {
        display: grid;
        width: 100vw;
        justify-items: start;
        margin: 10px;
    }

    .hero-text {
        margin-top: -2rem;
        line-height: 3.5rem;
    }

    .hero-text p {
        margin-top: 0rem;
        line-height: 0;
    }

    .hero-links {
        margin-left: 0;
        margin-top: 14vh;
    }

    .link {
        width: 100px;
    }
}