@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --font: 'Merriweather', sans-serif;

    --bg-light: #F3F7F4;
    --bg-dark: #080C09;

    --text-light: #080C09;
    --text-dark: #F3F7F4;

    --primary: #5F8C68;
    --secondary: #38524D;
    --accent: #4A6D6D;
}

body {
    font-family: var(--font);
    background: var(--bg-light);
    color: var(--text-light);
    margin: 0;
    padding: 0;
}

.menu-bar {
    display: flex;
    background: #F1F3F4;
    padding: 1rem;
    justify-content: space-between;
}

.menu-bar p {
    font-size: 1.8rem;
    margin: 0 1rem;
}

nav {
    display: flex;
    align-items: center;
    /* float: right; */
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 125ms ease-in-out;
    text-decoration: none;
    color: inherit;
}

.menu-button:hover {
    background: var(--primary);
    transition: 125ms ease-in-out;
    box-shadow: 0 0 0 2px var(--secondary);
    color: var(--text-dark);
}

.menu-active {
    background: var(--accent);
    transition: 125ms ease-in-out;
    box-shadow: 0 0 0 2px var(--accent);
    color: var(--text-dark);
}

.name {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    margin: 1rem 8rem;
}

.name h1 {
    font-size: 6rem;
    margin: 1rem 2rem;
}

.name p {
    font-size: 1.5rem;
    margin: 1rem 2rem;
}

.description {

    float: right;
    margin: 1rem 8rem;
    font-size: 1.3rem;
}

.page-title{
    margin: 1rem 8rem;
    font-size: 1.6rem;
}

.page-content{
    margin: 1rem 8rem;
    font-size: 1.3rem;
}

.columns {
    display: grid;
    grid-template-columns: auto auto auto;
}

.column span {
    padding-right: 8px;
    width: 100px;
    text-align: right;
    font-weight: 600;
}

@media(prefers-color-scheme: dark) {
    body {
        background: var(--bg-dark);
        color: var(--text-dark);
    }
    
    .menu-bar {
        display: flex;
        justify-content: center;
        background: #121212;
        padding: 1rem;
    }
}
